esphome:
  name: baxi-monitor
  friendly_name: baxi_monitor

esp8266:
  board: d1_mini

api:

ota:
  - platform: esphome
    password: !secret ota_password

logger:
  level: DEBUG

web_server:
  port: 80

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: 192.168.1.70
    gateway: 192.168.1.1
    subnet: 255.255.255.0

captive_portal:

one_wire:
  - platform: gpio
    id: ow_bus
    pin: D2

sensor:
  - platform: dallas_temp
    one_wire_id: ow_bus
    name: "Температура обратки котла"
    address: 0xFA0000004685BE28  # ← ваш адрес из логов
    filters:
      - sliding_window_moving_average:
          window_size: 5
          send_every: 5
    unit_of_measurement: "°C"
    accuracy_decimals: 1

  - platform: adc
    pin: A0
    name: "Напряжение ACS712"
    id: acs712_raw
#    internal: true  # не показывать в HA
    update_interval: 15s
    filters:
      - multiply: 3.3
      - median: # Усреднение для стабильности
          window_size: 5
          send_every: 1

  - platform: template
    name: "Потребление котла"
    unit_of_measurement: "Вт"
    accuracy_decimals: 0
    update_interval: 15s
    lambda: |-
      float voltage = id(acs712_raw).state;
      float zero = 0.884765625; // ← Обнови на стабильное значение без тока
      float sensitivity = 0.1; // 100 мВ/А для ACS712-20A
      float amps = abs(voltage - zero) / sensitivity;
      float power = amps * 220;

      // Если мощность < 5 Вт — считаем, что это шум
      if (power < 5.0) {
        return 0.0;
      }
      return power;
