substitutions:
  device_name: baxi-monitor
  static_ip: 192.168.1.70
  fw_version: "1.0.0"

esphome:
  name: ${device_name}
  friendly_name: "Котёл отопления"

packages:
  wifi: !include common/wifi_base.yaml
  api: !include common/api.yaml
  ota: !include common/ota.yaml
  logger: !include common/logger.yaml
  diagnostics: !include common/diagnostics_esp8266.yaml

esp8266:
  board: d1_mini

one_wire:
  - platform: gpio
    id: ow_bus
    pin: D2

sensor:
  - platform: dallas_temp
    one_wire_id: ow_bus
    name: "Температура обратки котла"
    address: 0xFA0000004685BE28  # ← ваш адрес из логов
    filters:
      - sliding_window_moving_average:
          window_size: 5
          send_every: 5
    unit_of_measurement: "°C"
    accuracy_decimals: 1

  - platform: adc
    pin: A0
    name: "Напряжение ACS712"
    id: acs712_raw
#    internal: true  # не показывать в HA
    update_interval: 10s
    filters:
      - multiply: 3.3
      - median: # Усреднение для стабильности
          window_size: 5
          send_every: 1

  - platform: template
    name: "Ток потребления котла"
    id: boiler_current
    unit_of_measurement: "A"
    accuracy_decimals: 2
    update_interval: 10s
    lambda: |-
      float voltage = id(acs712_raw).state;
      // ⚠️ откалибруй!
      float zero = 2.9205;    // напряжение без тока
      float sensitivity = 0.1;     // 100 мВ / А (ACS712-20A)
      float amps = abs(voltage - zero) / sensitivity;
      // подавление шума
      if (amps < 0.03) return 0.0;
      return amps;

  - platform: template
    name: "Потребление котла"
    unit_of_measurement: "Вт"
    accuracy_decimals: 0
    update_interval: 10s
    lambda: |-
      float amps = id(boiler_current).state;
      float voltage = 220.0;
      float power = amps * voltage;
      if (power < 5.0) return 0.0;
      return power;
