substitutions:
  device_name: garage-car-evgen
  static_ip: 192.168.1.172
  fw_version: "1.0.0"

esphome:
  name: ${device_name}
  friendly_name: "Парковка 1"

packages:
  wifi: !include common/wifi_base.yaml
  api: !include common/api.yaml
  ota: !include common/ota.yaml
  logger: !include common/logger.yaml
  diagnostics: !include common/diagnostics_esp8266.yaml

esp8266:
  board: d1_mini

# I²C для VL53L0X
i2c:
  sda: GPIO4
  scl: GPIO5
  scan: true

sensor:
  # ---------- VL53L0X ----------
  - platform: vl53l0x
    name: "Расстояние до автомобиля"
    id: car_distance_raw
    update_interval: 5s
    unit_of_measurement: "м"
    accuracy_decimals: 2

  # ---------- DHT22 ----------
  - platform: dht
    model: DHT22
    pin: D5        # GPIO14
    temperature:
      name: "Температура в гараже"
      accuracy_decimals: 1
    humidity:
      name: "Влажность в гараже"
      accuracy_decimals: 1
    update_interval: 60s

binary_sensor:
  - platform: template
    name: "Автомобиль в гараже"
    id: car_present
    device_class: occupancy
    filters:
      - delayed_on: 2s
      - delayed_off: 5s
    lambda: |-
      const float threshold = 0.9;
      if (isnan(id(car_distance_raw).state)) {
        return false;
      }
      return id(car_distance_raw).state < threshold;

interval:
  - interval: 1s
    then:
      - if:
          condition:
            binary_sensor.is_on: car_present
          then:
            - output.turn_on: led_gpio2_out
          else:
            - output.turn_off: led_gpio2_out

output:
  - platform: gpio
    pin:
      number: D4      # GPIO2 (встроенный LED)
      inverted: true
    id: led_gpio2_out
