substitutions:
  device_name: stair-pir-bottom
  static_ip: 192.168.1.178
  fw_version: "1.0.0"

esphome:
  name: ${device_name}
  friendly_name: "Датчик движения (низ лестницы)"

packages:
  wifi: !include common/wifi_base.yaml
  api: !include common/api.yaml
  ota: !include common/ota.yaml
  logger: !include common/logger.yaml
  diagnostics: !include common/diagnostics.yaml

esp8266:
  board: d1_mini

binary_sensor:
  - platform: gpio
    pin:
      number: D2
      mode: INPUT
    name: "Датчик движения (низ лестницы)"
    id: pir_bottom
    device_class: motion
    filters:
      - delayed_on: 100ms    # устранение дребезга
      - delayed_off: 3s      # минимальное время "движение"

    on_press:
      - homeassistant.event:
          event: esphome.stair_motion
          data:
            direction: up

# Включаем светодиод на GPIO2, когда автомобиль обнаружен
interval:
  - interval: 1s  # Проверяем каждую секунду
    then:
      - if:
          condition:
            binary_sensor.is_on: pir_bottom  # Если обнаружено движение
          then:
            - output.turn_on: led_gpio2_out
          else:
            - output.turn_off: led_gpio2_out

# Управляем GPIO2 напрямую как output
output:
  - platform: gpio
    pin:
      number: D4  # GPIO2 на D1 Mini (встроенный светодиод)
      inverted: true  # Если светодиод включается при LOW (для встроенного D4 обычно НЕТ)
    id: led_gpio2_out
